/.idea/
/Stackoverflow/Stack-Overflow-Query.jsonl
/Internet-Archive/internet_archive.json
/Gutenberg/Gutenberg-Books-Tokenized.jsonl
/Gutenberg/gutendex_books.json
/Google/google_datasets.json
/Google/search_topics.json
/Google/Datasets/
/Flathub/flatpakrefs/
/Flathub/Game/
/Flathub/refs/
/Circl/cybersecurity_datasets.json
/Gutenberg/texts/
/Gutenberg/Gutenberg-Books/
